---
import Layout from '../layouts/Layout.astro';
import Users from "../components/Users";
---
<Layout title="Astro Playground">
	<main>
		<h1>Welcome to Astro Playground</h1>
		<Users />
	</main>
</Layout>
